.banner_image
  .wrap
    // %h2.banner_image_copy We supply the beats you need to be a great MC. Browse our beats below!
  %p.class= notice
  %p.class= alert

.edgetop
  .wrap
    %h3.section_title My beats
  = render 'beats/track_row', :beats => @my_beats

.edge

.wrap
  %h3.section_title My public tracks
  - if @tracks.any?
    %ul.tracks
    - @tracks.each do |track|
      -if track.state == 'public'
        %li.track_row
          .wrap
            %ul.track_list_items
              %li= track.name
              %li= track.beat.name
              %li=link_to '', track.track, class: 'track_preview'
              %li=link_to 'Show', track_path(track), class: 'button_big'
              %li=link_to 'Make private', private_track_path(track), class: 'button_big'
  - else
    %p You don't have any public tracks right now

.wrap
  %h3.section_title My private tracks
  - if @tracks.any?
    %ul.tracks
    - @tracks.each do |track|
      -if track.state == 'private'
        %li.track_row
          .wrap
            %ul.track_list_items
              %li= track.name
              %li= track.beat.name
              %li=link_to '', track.track, class: 'track_preview'
              %li=link_to 'Show', track_path(track), class: 'button_big'
              %li=link_to 'Make public', public_track_path(track), class: 'button_big'
  - else
    %p You don't have any private tracks right now
