.edgetop
  .wrap
    %h3.section_title My beats
  = render 'beats/track_row', :beats => @my_beats

.edge

.wrap
  %h3.section_title My public tracks
- if @public_tracks.any?
  %ul.tracks
    - @public_tracks.each do |track|
      %li.track_row
        .wrap
          %ul.dash_track_list_items
            %li= track.name
            %li= track.beat.name
            %li=link_to '', track.track, class: 'track_preview'
            %li=link_to 'Show', track_path(track), class: 'button_big'
            %li=link_to 'Download', download_track_path(track), class: 'button_big button_bigger_green'
            %li=link_to 'Make private', private_track_path(track), class: 'button_big button_bigger_blue'
            %li=link_to 'Delete', track_path(track), method: :delete, confirm: 'Are you sure you want to delete this track?', class: 'button_big button_red'
- else
  .wrap
    %p.white You don't have any public tracks right now

.wrap
  %h3.section_title My private tracks
- if @private_tracks.any?
  %ul.tracks
    - @private_tracks.each do |track|
      %li.track_row
        .wrap
          %ul.dash_track_list_items
            %li= track.name
            %li= track.beat.name
            %li=link_to '', track.track, class: 'track_preview'
            %li=link_to 'Show', track_path(track), class: 'button_big'
            %li=link_to 'Download', download_track_path(track), class: 'button_big button_bigger_green'
            %li=link_to 'Make public', public_track_path(track), class: 'button_big button_bigger_blue'
            %li=link_to 'Delete', track_path(track), method: :delete, confirm: 'Are you sure you want to delete this track?', class: 'button_big button_red'
- else
  .wrap
    %p.white You don't have any private tracks right now

.wrap
  %h3.section_title My original beats
- if @user_beats.any?
  %ul.tracks
    - @user_beats.each do |beat|
      %li.track_row
        .wrap
          %ul.dash_track_list_items
            %li=link_to '', user_beat.beat, class: 'track_preview'
            %li=link_to 'Show', user_beat_path(user_beat), class: 'button_big'
            %li=link_to 'Download', download_user_beat_path(user_beat), class: 'button_big button_bigger_green'
            %li=link_to 'Make private', private_user_beat_path(user_beat), class: 'button_big button_bigger_blue'
            %li=link_to 'Delete', user_beat_path(user_beat), method: :delete, confirm: 'Are you sure you want to delete this user_beat?', class: 'button_big button_red'
- else
  .wrap
    %p.white You don't have any original beats right now
    %li=link_to 'New Beat', new_user_beat_path, class: 'button_big'

