.push
.wrap
  %h3.section_title Sign up

  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :username, :required => true, :autofocus => true
      = f.input :email, :required => true
      = f.input :password, :required => true
      = f.input :password_confirmation, :required => true
    .form-actions
      = f.button :submit, "Sign up", :class => 'button_purple'

  = render "devise/shared/links"
