.banner_image
  .wrap
    // %h2.banner_image_copy We supply the beats you need to be a great MC. Browse our beats below!
  %p.class= notice
  %p.class= alert

.top
  .wrap
    %h3.section_title Pending beats
  = render 'admin_track_row', :beats => @pending_beats

.edge

.wrap
  %h3.section_title Approved beats
= render 'admin_track_row', :beats => @approved_beats

.wrap
  %h3.section_title Rejected beats
= render 'admin_track_row', :beats => @rejected_beats

.wrap
  = link_to 'Add a new beat', new_admin_beat_path, :class => 'button'
