.push
.wrap
  = image_tag @user.avatar.url(:regular), :class => 'avatar'
  %h3.section_title=@user.username
  %p.white="MC since #{@user.created_at.year}"
.wrap
  %h3.section_title="#{@user.username}'s tracks"
- if @user.tracks.any?
  %ul.tracks
    - @user.tracks.each do |track|
      - if track.state == 'public'
        %li.track_row
          .wrap
            %ul.track_list_items
              %li= track.name
              %li= track.beat.name
              %li=link_to '', track.track, class: 'track_preview'
              %li=link_to 'Show', track_path(track), class: 'button_big'
- else
  .wrap
    %p.white= "#{@user.username.upcase} doesn't have any beats right now"
.wrap
  %h3.section_title="#{@user.username}'s original beats"
- if @user.user_beats.any?
  %ul.tracks
    - @user.user_beats.each do |user_beat|
      - if user_beat.state == 'public'
        %li.track_row
          .wrap
            %ul.track_list_items
              %li= user_beat.name
              %li= user_beat.genre
              %li=link_to '', user_beat.beat.url, class: 'track_preview'
              %li=link_to 'Show', track_path(user_beat), class: 'button_big'

- else
  .wrap
    %p.white= "#{@user.username.upcase} doesn't have any original beats right now"

