!!!
%html
  %head
    %title BAMC | Be An MC
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}
    :javascript
      soundManager.setup({
        url: '/assets/'
      });

  %body#top
    .logo_wrap
      .triangle
      = link_to 'BAMC', root_path, :class => 'logo'
    .header
      = render 'shared/header'
    - if current_page?('/')
      .banner_image
        .wrap
          // %h2.banner_image_copy We supply the beats you need to be a great MC. Browse our beats below!
        %p.class= notice
        %p.class= alert
    - else
      .push
    .main
      .wrap
        - flash.each do |name, msg|
          = content_tag :p, msg, :id => name
      = yield
    .footer
      = render 'shared/footer'
